.container {
  h4 {
    position: sticky;
    display: block;
    top: 30px;
    padding: 20px 0;
    background-color: var(--background);
    z-index: 1;
  }

  h4 span {
    font-weight: normal;
  }
}
