@import "@/app/vars.scss";

.container {
  h4 {
    position: sticky;
    display: block;
    top: 50px;
    padding: 0 0 20px 0;
    background-color: var(--background);
    z-index: 1;

    @media screen and (max-width: $breakpoint_mobile) {
      margin-top: 16px;
    }
  }

  h4 span {
    font-weight: normal;
  }
}
