@import "@/app/vars.scss";

.container {
  h4 {
    position: sticky;
    text-align: center;
    top: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;

    &:global(.stuck) {
      padding: 25px 0 35px 0;
    }

    border-bottom: 1px solid white;
    background-color: white;
    transition: all 200ms ease;
    z-index: 1;

    @media screen and (max-width: $breakpoint_mobile) {
      margin-top: 16px;
      text-align: left;
    }
  }

  h4 span {
    font-weight: normal;
  }
}

.companyName {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  margin-top: 0;
  opacity: 0;
  transition: opacity 0.5s linear;

  @media screen and (max-width: $breakpoint_mobile) {
    text-align: left;
  }

  &:global(.visible) {
    opacity: 1;
  }
}
