@import "@/app/vars.scss";

.accordion {
  :global(div.MuiButtonBase-root) {
    padding: 0;
  }
}

.projectOverview {
  position: relative;
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: 50% 1fr;
  align-items: center;
  gap: 20px;
  padding: 10px 0;

  @media screen and (max-width: $breakpoint_mobile) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.projectTagContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;

  @media screen and (max-width: $breakpoint_mobile) {
    padding-bottom: 16px;
    border-bottom: 1px solid lightgray;
  }
}
