@import "@/app/vars.scss";

html,
body {
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

h2.resumeHeading {
  margin: 40px 0 20px;
  padding: 15px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;

  @media screen and (max-width: $breakpoint_mobile) {
    text-align: left;
  }
}

ul {
  padding-inline-start: 0;
}

h3,
h4 {
  margin-bottom: 10px;
}

// Small tablet and mobile.
@media screen and (max-width: $breakpoint_mobile) {
  body {
    padding: 0 16px;
  }

  h2 {
    margin: 20px 0;
    padding: 20px 0;
  }
}
