.skillsExperienceContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  width: 100%;
  gap: 5px;
  margin-top: 5px;
}

.yearsPrefix {
  font-weight: bold;
  padding: 4px 14px 4px 0;
  text-align: right;
}

.skillTagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}
