@import "@/app/vars.scss";

.item {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 10px;
  margin: 0;
  border-radius: 4px;
  line-height: 1rem;
  background-color: gray;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 250ms ease;
  transform: scale(1);

  &:hover {
    transform: scale(1.05);

    @media screen and (max-width: $breakpoint_mobile) {
      transform: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: #444;
  }

  &[data-selected="false"] {
    background-color: #fff;
    color: #333;
  }
}
